html, body, #container, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial;
}

.left-bar {
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px solid #999;
}

.right-bar {
  float: right;
  width: calc(70% - 1px);
  height: 100%;
}

.sources {
  height: 25%;
  border-bottom: 1px solid #999;
  overflow-y: auto;
  padding: 15px;
}

/* Item group styling */

.item-group {
  border-bottom: 1px solid #ccc;
}

.item-group-head {
  padding: 15px;
  cursor: pointer;
}

.item-group-head.selected {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}

.item-desc {
  margin: 0;
}

.item-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.sub-item p {
  font-size: 14px;
  margin: 0;
}

.sub-item span {
  font-size: 12px;
  color: #444;
}

.item-sub-items {
  height: 400px;
  overflow-y: scroll;
}

.sub-item {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 10px;
}

.sub-item.selected {
  background-color: #eee;
}

.display-item {
  margin: 0 20px;
}

.refresh-button {
  margin-top: 10px;
}

.sources li a {

}
